<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>


  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <pages maintainScrollPositionOnPostBack="true"></pages>
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <appSettings>
    <!--<add key="CADENA_CONEXION_SQL" value="data source=.\sqlexpress;Integrated Security=SSPI;initial catalog=PRM_Sistema;persist security info=True;pooling=false;max pool size=100;"/>-->
    <add key="CADENA_CONEXION_SQL" value="data source=.;Integrated Security=SSPI;initial catalog=PRM2018_Buena;persist security info=True;pooling=false;max pool size=100;"/>

    
    <add key="serverMail" value="smtp.prmseguros.com"/>
    <add key="usrMail" value="cobranza.danos1@prmseguros.com"/>
    <add key="pswMail" value="CD1$0001"/>
    <add key="puertoMail" value="587"/>
    <add key="server" value="http://siniestros.pcsinnovazione.com.mx/"/>
    <add key="mailCotizaciones" value="cobranza.danos1@prmseguros.com"/>

  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://144.217.7.197/wsMomentumCodigosPostales/Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="wsCodigosPostales.ServiceSoap" name="ServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
